header {
    background-color: lightskyblue;
    height: 40px;
}

.header_button {
    display: inline-block;
    float: right;
}

p {
    margin-right: 25px;
}

.member_regist_check {
    width: 100%;
}

.password {
    overflow: hidden;
}

.password p {
    float: left;
}

.id {
    overflow:  hidden;
}

.id p {
    float: left;
}

.name {
    overflow:  hidden;
}

.name p {
    float: left;
}

.gender {
    overflow:  hidden;
}

.gender p {
    float: left;
}

.address {
    overflow: hidden;
}

.address p {
    float: left;
}

.email {
    overflow: hidden;
}

.email p {
    float: left;
}