html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    background-color: lightskyblue;
    height: 40px;
}

 form {
    display:flex;
    justify-content:space-between;
}

.greeting {
    display: inline-block;
}

.greeting p{
    margin: 0;
}

.header_button {
    display: inline-block;
}

.container{
    display: flex;
    flex-flow: column;
    height: 90%;
}

.space {
    flex: 1;
}

footer {
    background-color: lightskyblue;
    height: 40px;
}

.withdrawal_button {

    text-align: right;
}