header {
    background-color: lightskyblue;
    height: 40px;
    display:flex;
    justify-content:right;
}

.detail {
    border: 5px double #aaa;
}

.comment_form {
    margin-top: 10px;
}

.comment_btn {
    display: block;
}

.error {
    color: red;
}

.prev_next {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

.glayout {
    pointer-events: none;
    color: #aaa; 
}

.heart_red {
    color: red;
}

.like {
    border-bottom: solid #aaa;
}